.topNav{
  display:flex;
  
}

#chevron_right1{
  
}

#inicio{
  font-size:larger;
  text-decoration: none;
}

#cadastro_notas{
  font-size: larger;
  text-decoration: none;
}

#primeiro_bimestre{
  
}
.botoes_cadastro_notas{
  display: flex;
  flex-direction: column;
}
/*#085484*/
button{
  background-color: #085484;
  color: white;
  border:none;
  border-radius: 25px;
  margin-bottom: 20px;
}
button:hover{
  background-color: #0b6fad;
  color: white;
}

button:active{
  background-color: #0b6fad;
  color: gray;
  border:black;
}

th td {
    border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }


  .form_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hidden-header{
    visibility: hidden;
  }

  .hidden-header2{
    visibility: hidden;
  }

 


