<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar Notas</title>
</head>
<body>
   
   <div class="Form_Notas">     
    <div class="form_Container_notas_primeiro">
        <form id="formNotas_primeiro">
           <label for="nota_primeiro_bimestre">Nota do Primeiro Bimestre:</label>
           <input type="number" id="input_prova_1" name="prova1" step=".01" max="8" min="0">

           <label for="nota_prova_integrada_1">Nota da Primeira Prova Integrada:</label>
           <input type="number" id="input_prova_integrada_1" name="provaIntegrada1" step=".01" max="1" min="0">

           <label for="nota_aep_1">Nota da Primeira AEP:</label>
           <input type="number" id="input_aep_1" name="aep1" step=".01" max="1" min="0">
        
        </form>
    </div>

    <div class="form_Container_notas_segundo">
        <form id="formNotas_segundo">
           <label for="nota_segundo_bimestre">Nota do Segundo Bimestre:</label>
           <input type="number" id="input_prova_2" name="prova2" step=".01" max="8" min="0">

           <label for="nota_prova_integrada_2">Nota da Segunda Prova Integrada:</label>
           <input type="number" id="input_prova_integrada_2" name="provaIntegrada2" step=".01" max="1" min="0">

           <label for="nota_aep_2">Nota da Segunda AEP:</label>
           <input type="number" id="input_aep_2" name="aep2" step=".01" max="1" min="0">
        
        </form>
    </div>
</div>    

    <script src="aplicarNotas.js"></script>
</body>
</html>