<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar Notas</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="/gestãoNotas/assets/Icone_site.ico" type="image/x-icon">
</head>
<body>
    <div class="table_Container">
        <table id="notasTabela">
            <thead>
                <tr>
                    <th>Ra</th>
                    <th>Nome</th>
                    <th>Email</th>
                    
                    <div id="primeiro_bimestre">
        
                            
                                <th id="prova1" class="hidden-header">
                                    Prova1
                                   
                                </th>
                                <th id="aep1" class="hidden-header">AEP1
                           
                                </th>

                                <th id="prova_int1" class="hidden-header">prova_integrada1
                    
                                </th>
                                <th id="media_bimestral1">Primeira média</th>
                    </div>  
                    <div id="segundo_bimestre">
                          
                                <th id="prova2" class="hidden-header2">Prova2</th>
                                <th id="aep2" class="hidden-header2">AEP2</th>
                                <th id="prova_int2" class="hidden-header2">prova_integrada2</th>
                                <th id="media_bimestral2">Segunda média</th>
                        
            </thead>
            <tbody id="table_Content">
               
            </tbody>
        </table>
    </div>
    <div class="resultado">
        <div id="resultadoBimestre1"></div>
        <div id="resultadoBimestre2"></div>
    </div>


    <div class="botaoCalcular">
        <button onclick="adicionarNotas()">Inserir Notas</button>
        <button onclick="calcularNota()">Calcular Notas</button>
    </div>

    <div class="botaoEnviar">
        <button onclick="enviarNotas()">Enviar Notas</button>
    </div>
    

   
    <button onclick="btnToggle()">exibir notas do primeiro bimestres</button>
    <button onclick="btnToggle2()">exibir notas do segundo bimestre</button>
    <script src="./aplicarNotas.js"></script>
</body>
</html>
