<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Escolha o bimestre
    </title>
    <link rel="shortcut icon" href="/gestãoNotas/assets/Icone_site.ico" type="image/x-icon">
    <link rel="stylesheet" href="escolha.css">
</head>
<body>
    <div>
        <h1>Qual Bimestre você deseja <br> cadastrar as notas?</h1>
    </div>

    <div class="corpo">
        <a href="bimestre1.html">
            <button class="botao">
                1ºBimestre
            </button>
        </a>

        <br>
        <br>

        <a href="./bimestre2.html">
            <button class="botao">
                2ºBimestre
            </button>
        </a>
    </div>
</body>
</html>