<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studeo2.0</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="/gestãoNotas/assets/Icone_site.ico" type="image/x-icon">
</head>
<body>
    <div class="apresenta">
        <h1>Olá, bem vindo ao Studeo 2.0</h1>
        <h2>Bem melhor que o 1.0</h2>
    </div>

    <div class="opcoes">
        <label for="casdastrar_aluno">O que você deseja realizar hoje?</label>

        <div>
            <a href="cadastroAluno.html">
                <button class="botao">
                    Cadastrar Aluno
                </button>
            </a>

            <br>

            <a href="./cadastroNotas.html">
                <button class="botao">
                    Aplicar Notas
                </button>
            </a>

            <br>

            <a href="./medias.html">
                <button class="botao">
                    Vizualizar medias
                </button>
            </a>
        </div>
    </div>
    
</body>
</html>
