<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicar notas</title>
    <link rel="shortcut icon" href="/gestãoNotas/assets/Icone_site.ico" type="image/x-icon">
</head>
<body>
    <div class="opcaoBimestre">

        <h1>Qual bimestre você deseja cadastrar notas?</h1>

        <a href="cadastroNotas1.html">
            <button>1ºBimestre</button>
        </a>

        <a href="cadastroNotas2.html">
            <button>2ºBimestre</button>
        </a>

    </div>
</body>
</html>